body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.weather-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto;
    width: 80%;
    max-width: 600px;
}

.location-search {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.weather-info {
    text-align: center;
}

.forecast-container, .hourly-forecast-container {
    margin-top: 20px;
}

#forecast, #hourly-forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.forecast-item, .hourly-item {
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
}
